
.container {
  display: grid;
  justify-content: center;
}

body {
/*   background-color: honeydew ; */
}

/* table,tr,td {
  background-color: honeydew ;
  border: none
}
 */
hr {
  border-color: #caf7e3;
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  width: 10%
}
h1, h3 {
  color: white;
  background-color: #1f441e;
  font-family: sans-serif;
  width: max-content;
}
p, li,script {
  color: #1f441e;
  font-family: sans-serif;
}
